<!DOCTYPE html>
<html lang="en">
<head>
  <title>我的</title>
  <link href="__STATIC__css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="__STATIC__css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="__STATIC__css/p-common.css" rel="stylesheet" type="text/css" media="all" /> 
  <link rel="stylesheet" type="text/css" href="__STATIC__css/address_y.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style type="text/css">
      .logout { display: block; border-top: 1px solid rgb(241, 241, 241); border-bottom: 1px solid rgb(241, 241, 241); height: 4em; line-height: 4em; text-align: center; margin-top: 5px; font-size: 1em; color: #d1ab7c;  }
  </style>
</head>
<body> 
  <!--header--> 
  <div class="mobel-header">
    <div class="title">我的</div>
  </div>  
   <!--main-->
   <div class="user_box">
   	   <div class="user_head">
   	   		<img src="<if condition="$user.head_pic == ''">__STATIC__image/icon/user.png<else/>{$user.head_pic}</if>">
   	   </div>
   	   <div class="user_name">{$user.nickname}</div>
   	   <a class="user_updata" href="{:U('Mobile/User/info')}">完善个人资料</a>
   </div>
   <div class="user_information">
   		<div class="user_info_con" onclick="window.location='{:U('Mobile/Order/order_list')}'">
          <img class="user_left_img" src="__STATIC__image/add/my_order.png">
          <span>我的订单</span>
          <div class="user_right">
            <!-- <span>0</span> -->
            <img class="user_right_img" src="__STATIC__image/add/you.png">
          </div>
   		</div>
   		<div class="user_info_con" onclick="window.location='{:U('Mobile/User/goods_collect')}'">
          <img class="user_left_img" src="__STATIC__image/add/my_collect.png">
          <span>我的收藏</span>
          <div class="user_right">
            <!-- <span>0</span> -->
            <img class="user_right_img" src="__STATIC__image/add/you.png">
          </div>
   		</div>
   		<div class="user_info_con" onclick="window.location='{:U('Mobile/User/address_list')}'">
          <img class="user_left_img" src="__STATIC__image/add/my_location.png">
          <span>地址管理</span>
          <div class="user_right">
            <!-- <span>0</span> -->
            <img class="user_right_img" src="__STATIC__image/add/you.png">
          </div>
   		</div>
   		<div class="user_info_con" onclick="window.location='{:U('Mobile/User/message_notice')}'">
          <img class="user_left_img" src="__STATIC__image/add/my_news.png">
          <span>消息通知</span>
          <div class="user_right">
            <!-- <span>0</span> -->
            <img class="user_right_img" src="__STATIC__image/add/you.png">
          </div>
   		</div>
      <div class="user_info_con zhiCustomBtn">
          <img class="user_left_img" src="__STATIC__image/add/my_contact.png">
          <span>联系客服</span>
          <div class="user_right">
            <!-- <span>0</span> -->
            <img class="user_right_img" src="__STATIC__image/add/you.png">
          </div>
      </div>
      <a href="{:U('user/logout')}" class="logout">退出登录</a>
      <div style="height: 100px;"></div>
   </div>
  <!--footer-->
  <include file="public/footer_menu" />
 
</body>
<script src="__STATIC__js/jquery.min.js"></script>
<script src="__STATIC__js/simpleCart.min.js"> </script>
<script src="__STATIC__js/type.js"></script>
<script>
    (function (w, d, n, a, j) {
        w[n] = w[n] || function () {
            (w[n].a = w[n].a || []).push(arguments);
        };
        j = d.createElement('script');
        j.async = true;
        j.src ='https://qiyukf.com/script/f7d7bda2488a94a7103e779cf1aa436c.js?hidden=1';
        d.body.appendChild(j);
    })(window, document, 'ysf');
        
    // var isSdkReady = true;
 //    ysf('onLayerload', function () {
 //        isSdkReady = true;
 //    })

 //    window.openSdk = function () {
 //        if (isSdkReady) {
 //            ysf('open');
 //        } else {
 //            alert('sdk尚未加载成功，请稍后再试');
 //        }
 //    }

    $('.zhiCustomBtn').click(function(){
        ysf('open');
    })
    ysf('config', {
        uid: '{$Think.cookie.PHPSESSID}',
        name:'{$Think.cookie.uname|urldecode}',
        email:'{$Think.cookie.email}',
        mobile:'{$Think.cookie.mobile}',
    });

</script>
</html>
