<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>页面提示</title>
  <link href="__STATIC__css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="__STATIC__css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="__STATIC__css/p-common.css" rel="stylesheet" type="text/css" media="all" /> 
  <link href="__STATIC__css/addManage_y.css" rel="stylesheet" type="text/css" media="all" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        .boxoperation { text-align: center; padding-top: 100px; }
    </style>
</head>
<body>
  <!--header--> 
  <div class="mobel-header">
    <!-- <div class="yright back" onclick="history.go(-1)"></div> -->
    <div class="title">提示页面</div>
  </div>  
<!--header-e-->
<div class="operation_success_fail w710" >
    <?php if($code == 1) {?>
    <!--操作成功-s--->
    <div class="boxoperation p" >

        <div class="success_describe">
            <div class="sd1">
                <i class="suc"></i>
                <span><?php echo(strip_tags($msg)); ?></span>
            </div>
            <div class="sd2">
                <a id="href" href="<?php echo($url); ?>">页面跳转中...</a>
                <span>等待时间：<em id="wait"><?php echo($wait); ?></em></span>
            </div>

        </div>
    </div>
    <!--操作成功-s--->
<?php }else{?>
    <!--操作失败-s--->
    <div class="boxoperation p" >
        <div class="success_describe">
            <div class="sd1">
                <i class="wro"></i>
                <span><?php echo(strip_tags($msg)); ?></span>
            </div>
            <div class="sd2">
                <a id="href" href="<?php echo($url); ?>">页面跳转中...</a>
                <span>等待时间：<em id="wait"><?php echo($wait); ?></em></span>
            </div>
        </div>
    </div>
    <!--操作失败-e--->
    <?php }?>
</div>
<script src="__STATIC__/js/headerfooter.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    /**/
    (function () {
        var wait = document.getElementById('wait'), href = document.getElementById('href').href;
        var interval = setInterval(function () {
            var time = --wait.innerHTML;
            if (time <= 0) {
                location.href = href;
                clearInterval(interval);
            }
            ;
        }, 1000);
    })();

</script>
</body>
</html>