* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

li {
    list-style: none;
}


/* ==========================
    icon 部分
==============================*/
.icon-sm {
    width: .22rem;
}
.icon-xs {
    width: .3rem;
}
.icon-df {
    width: .4rem;
}
.icon-lg {
    width: .46rem;
}
.icon-xl {
    width: .52rem;
}
.icon-xxl {
    width: .56rem;
}
.icon-sl {
    width: .62rem;
}
.icon-xsl {
    width: .68rem;
}
.icon-best {
    width: .8rem;
}







/* ==========================
    文本 部分
==============================*/
.text-xs {
    font-size: .2rem;
}
.text-sm {
    font-size: .24rem;
}
.text-df {
    font-size: .28rem;
}
.text-lg {
    font-size: .32rem;
}
.text-xl {
    font-size: .36rem;
}
.text-xxl {
    font-size: .44rem;
}
.text-sl {
    font-size: .8em;
}
.text-xsl {
    font-size: 1.2rem;
}













/* ==========================
    margin 部分
==============================*/
.m-l {
    margin-left: .1rem;
}









/* ==========================
    其他 部分
==============================*/
.line {
    background: #F7F7F7;
    height: .14rem;
}






